html {
    /* Colors */
    --primary: lightgreen;
    --secondary: black;
    --accent:darkslategray;

    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-wrap: nowrap;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    max-height: 100%;
    min-height: 100%;
    background-color: wheat;

    margin: 0px;
    padding: 0px;

    & .htmx-request {
        /* background-color: red !important; */
        opacity: 0.8 !important;
        transition: all ease-in-out 0.25s;
    }

    body {
        opacity: 1;
        transition: opacity ease-in-out 1s;
        position: relative;
        margin: 0px;
        padding: 0px;

        display: flex;
        flex-direction: column;
        flex-grow: 1;

        &[disabled] {

            opacity: 0.5 !important;
            /* transition: all ease-in-out 0.25s; */
            & a {
                pointer-events: none;
            }

        }




        /**
         * HEADER
         **/
        & header {
            padding: 0.5em;
            position: relative;
            display: flex;
            flex-grow: 0;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            box-sizing: border-box;
            background-color: black;
            color: white;
            text-transform: uppercase;
            box-shadow: 5px 10px 15px 5px rgba(0, 0, 0, 0.75);

            & * {
                display: flex;
                flex-direction: column;
                text-decoration: none;
                /* flex-grow: 1; */
                text-align: center;

                & a {
                    color: var(--primary);
                    cursor: pointer;

                    &:hover {
                        filter: brightness(90%);
                    }
                }
            }

        }

        /**
         * FOOTER
         **/
        & footer {
            position: relative;
            display: flex;
            flex-direction: column;
            flex-grow: 0;

            background-color: black;
            color: white;

            justify-content: center;
            box-sizing: border-box;
            margin: 0px;
            padding: 1em;


            p {
                padding: 0em;
                margin: 0em;
                display: flex;
                flex-direction: row;
                flex-grow: 1;
                justify-content: center;
                & a {
                    color: var(--primary)
                }
            }
        }

        /**
         * WRAPPER CONTENU PRINCIPAL
         **/
        & main {
            padding: 1em;
            gap: 1em;
            position: relative;
            box-sizing: border-box;
            display: flex;
            flex-direction: row;

            height: 0;
            /* ? WTF */
            flex-grow: 1;
            flex-shrink: 1;
            flex-wrap: nowrap;

            background-color: darkslategray;
            color: black;

            & section {

                padding: 1em;
                box-shadow: 5px 10px 15px 5px rgba(0, 0, 0, 0.75);
                border-radius: 15px;
                position: relative;
                align-items: center;
                overflow: auto;
                width: 100%;
                display: flex;
                flex-direction: column;
                box-sizing: border-box;

                scrollbar-color:  var(--primary) var(--accent);


                &:nth-child(1) {
                    @media screen and (max-width: 720px) {
                        display: none;
                    }

                    justify-content: center;

                    &:hover {
                        & iframe {
                            opacity: 1;
                        }
                    }

                    & iframe {
                        opacity: 0.5;
                    }

                    background-color: black;
                }

                &:nth-child(2) {
                    padding: 0px;
                    margin: 0px;
                    background-color: black;
                    color: white;
                    opacity: 1;

                    hr {
                        margin: 0em;
                        align-self: stretch;
                        border: 0.25em solid var(--primary);
                    }

                    h3 a {
                        cursor: help;
                        color: var(--accent);
                        text-transform: uppercase;
                        text-decoration: underline;

                        &:hover {
                            color: var(--primary);
                        }
                        &:active {
                            cursor: pointer;
                        }
                    }
                    & ul {
                        list-style: decimal;

                        & li {
                            padding: 0.33em 0em;

                            &::marker {
                                color: darkslategray;
                            }

                            &:hover {
                                &::marker {
                                    color: lightgreen;
                                }
                            }

                            & a {
                                color: inherit;
                                text-decoration: none;

                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                        }
                    }

                    table {
                        table-layout: fixed;

                        & td,
                        th {
                            border: 1px dashed white;
                        }
                    }
                }
            }
        }


    }
}
